body {
    color: var(--black);
    background-color: var(--white);
}

.w-content {
    width: fit-content;
}

.cc {
    padding-left: 20px;
    background-image: url("assets/img/cc.svg");
    background-size: 12px 12px;
    background-position: 0 2px;
    background-repeat: no-repeat;
}

a {
    color: var(--black);
    text-decoration: underline;
    text-underline-offset: 2px;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: var(--red);
}

.date {
    color: var(--red);
}